/**  VARIABLES **/
$couleur-text: #b5bdd5; //texte
$couleur-principale: #b5bdd5; //page
$couleur-principale-fonce: #01154e; //cadre
$couleur-header: #0001030e; //background-header
$couleur-background: #01154e;

body {
  margin: 0;
  padding: 0;
  background-color: $couleur-background;
  color: $couleur-text;
  font-size: 1.2rem;
  line-height: 1.1;
  min-width: 450px;
}

header {
  background-color: $couleur-header;
}

/* Défini largeur maximum de la page */
.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.logo {
  width: 90%;
  max-width: 120px;
  padding: 20px;
}