/**  VARIABLES **/
$couleur-text: #90f760; //texte
$couleur-principale: #b5bdd5; //page
$couleur-principale-fonce: #04077B; //cadre
$couleur-header: #010d2562; //background-header
$couleur-background: #176E8A;

body {
  margin: 0;
  padding: 0;
  background-color: $couleur-background;
  color: $couleur-text;
  font-size: 1.2rem;
  line-height: 1.1;
  min-width: 350px;
  font-family: "Oswald", system-ui;
  text-shadow: 6px 6px 8px black;
}

h1 {
  font-family: "DM Serif Text", system-ui;
}

.yolande {
  font-family: "Parisienne", system-ui;
  font-weight: 600;
  font-style: italic;
  font-size: 3em;
  margin: 30px;
}

header,
footer {
  background-color: $couleur-header;
  width: 100%;

}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Défini largeur maximum de la page */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

//pour affichage des fieldset
fieldset {
  width: 100%;
  border: #b5bdd5 solid 1px;
  text-align: left;
}

//désactivation de la validation HTML5
input:invalid {
  box-shadow: none;
}

//message erreurs dans formulaire
.error-message {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}