@charset "UTF-8";
/**  VARIABLES **/
body {
  margin: 0;
  padding: 0;
  background-color: #176E8A;
  color: #A4EF9A;
  font-size: 1.2rem;
  line-height: 1.1;
  min-width: 350px;
}

header, footer {
  background-color: rgba(1, 13, 37, 0.3843137255);
  width: 100%;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Défini largeur maximum de la page */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

fieldset {
  width: 100%;
  border: #b5bdd5 solid 1px;
  text-align: left;
}